
.chat{
    min-height: 100vh;
    background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHI0aWJmc2R0ZDkyNzd6cGt5eDViaXp0NWhqZThvZ3FmNThycm1zMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/UYBDCJjwOd9Re/giphy.gif');
    display: grid;
    place-items: center;  
}
.chat-container{
    width:95%;
    height: 75vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr
}
